.contactItem {
  display: flex;
  /* width: 350px; */
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
}
.contactName {
  font-size: 20px;
  display: block;
}
.contactNumber {
  font-size: 25px;
  color: blue;
}
.del_Btn::after {
  content: "\26d4";
}
